**/.git
**/.gitignore
**/.vscode
**/.idea
**/node_modules
**/dist
**/.env
**/.env.*
**/venv
**/env
**/__pycache__
**/*.pyc
**/*.pyo
**/*.egg-info
**/data/*.db
**/logs/*.log
**/.DS_Store
**/README.md
**/docs
**/*.md
